
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
      <div class="about content">
        <h2>About Us</h2>
        <p>Hello! Myself Bhumi Jain</p>
        <p>Age:20</p>
        <p>CSE, 3 year student</p>

      </div>
      <%- include('./partials/footer.ejs') %>

</body>
</html>